@media (min-width: 992px) and (max-width: 1200px) {
    .header_btn a {
        padding: 12px 14px;
        font-size: 14px;
        width: 150px;
    }
    .primary-menu ul li a {
        font-size: 15px;
        padding: 8px 8px;
    }
    .logo {
        max-width: 120px;
    }
    .primary-menu ul li.menu-item-has-children::before {
        right: -5px;
    }
}
@media (min-width: 992px) and (max-width: 1150px) {
    .apm_addon_form .forminator-button.forminator-button-back {
        right: 315px;
    }
}
/* MD Device :768px. */
@media (max-width: 991px) {
    .primary-menu nav {
        display: none;
    }
    .header_btn a {
        width: 100%;
    }
    .logo {
        max-width: 130px;
    }
    .site-header {
        padding: 20px 0 19px;
    }
    .footer_wraper {
        gap: 30px;
        flex-direction: column;
        text-align: center;
    }
    .footer_logo {
        margin: auto;
    }
    .footer-top {
        background-image: none !important;
        padding: 65px 0;
    }
    .apm_addon_form .forminator-pagination-footer {
        margin-top: 30px !important;
    }
    .apm_addon_form .forminator-button.forminator-button-next {
        margin-top: 0px !important;
    }
    .apm_addon_form .forminator-button {
        position: inherit !important;
        top: 0px;
        width: 100% !important;
        margin-bottom: 10px !important;
    }
    .apm_addon_form .forminator-button.forminator-button-back {
        right: 0;
    }
}
@media (max-width: 782px) {
    .apm_contact .forminator-checkbox__wrapper {
        margin-bottom: 0px;
    }
    .apm_contact .forminator-button-submit {
        position: inherit !important;
        right: inherit;
        top: inherit;
    }
}
/* Extra small Device. */
@media (max-width: 767px) {
    .site-title h1 {
        font-size: 40px;
        line-height: 1.1;
    }
    .apm-hero {
        padding: 90px 0 110px 0;
    }
    .site-title h1 {
        max-width: 460px;
    }
}